body {
  background-color: #141414;
  color: #fdc201;
  padding: 0;
  margin: 0;
}

.global {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #fff;
  background-image: url("../img/life.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #000;
  padding: 0.5rem 2rem;
  height: 550px;
  text-align: center;
  padding-top: 10%;
}

header h1 {
  font-size: 6rem;
}

header p {
  font-size: 2rem;
}

header .cta {
  border-radius: 20%;
  background-color: black;
  width: 200px;
  margin: 0 auto;
  height: 25px;
  margin-top: 25px;
}

header .cta a {
  color: white;
  text-decoration: none;
}

nav {
  text-align: center;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  padding: 20px 10px;
}

nav a {
  text-decoration: none;
  opacity: 0.8;
  color: #fdc201;
  padding: 10px;
  border-bottom: 3px solid #fcc100;
}

nav a:hover {
  opacity: 1;
  border-bottom: 3px solid #776321;
  color: #ffc712;
}

section {
  background-color: #000;
  padding: 2rem;
}

#test {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.workout_of_the_day ul {
  list-style-type: none;
  text-align: center;
}

.workout_of_the_day ul li {
  display: inline-block;
  margin: 20px 40px;
}

.workout_of_the_day button {
  background-color: #776321;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.workout_of_the_day button:hover {
  cursor: pointer;
  background-color: #917413;
}

.wod {
  display: inline-block;
  width: 250px;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  height: 150px;
}

.begin {
  height: 450px;
}

.inter {
  height: 850px;
}

.advance {
  height: 1000px;
}

.news_widget {
  width: 10%;
  background-color: pink;
  position: absolute;
  top: 200px;
  right: 0;
  padding: 2rem;
  display: none;
}

section img {
  display: block;
  float: left;
  height: 190px;
}

section:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.back_to_top {
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 0;
}

.back_to_top a {
  text-decoration: none;
  border: none;
}

h2 {
  display: block;
  clear: both;
}

.blocks {
  position: relative;
}

.block {
  width: 22%;
  display: inline-block;
  padding: 1%;
  -moz-transform-origin: 50% 50%;
  transition: all linear;
}

.block:after {
  content: "";
  display: block;
  clear: both;
}

.block img {
  display: none;
}
